In [1]:
import pandas as pd
df=pd.read_csv("/grainsales.csv")
print(df)

      GrainName        State       City Months  Year    Sales
0          Ragi  Maharashtra     Nagpur    JAN  2023  1000000
1         Bajra       Panjab   Amritsar    FEB  2023  1500000
2          Ragi  Maharashtra     Nagpur    JAN  2023  1000000
3         Bajra       Panjab   Amritsar    FEB  2023  1500000
4          Ragi  Maharashtra     Nagpur    JAN  2023  1000000
5         Bajra       Panjab   Amritsar    FEB  2023  1500000
6          Oats     Hariyana   Gurugram  MARCH  2023  2000000
7        Sattu       Gujarat      Surat  APRIL  2023  2500000
8         Sooji   Tamil Nadu    Madurai    MAY  2023  3000000
9   Brown rice     Telangana  Hyderabad   JUNE  2023  3500000
10        Wheat  West Bengol   Asansole   JULY  2023  4000000
11         Corn           UP     Kanpur    AUG  2023  4500000
12         Ragi  Maharashtra     Nagpur    JAN  2023  1000000
13        Bajra       Panjab   Amritsar    FEB  2023  1500000
14         Oats     Hariyana   Gurugram  MARCH  2023  2000000
15       Sattu       Gujarat      Surat  APRIL  2023  2500000
16        Sooji   Tamil Nadu    Madurai    MAY  2023  3000000
17  Brown rice     Telangana  Hyderabad   JUNE  2023  3500000
18        Wheat  West Bengol   Asansole   JULY  2023  4000000
19         Corn           UP     Kanpur    AUG  2023  4500000
20        Sooji   Tamil Nadu    Madurai    MAY  2023  3000000
21  Brown rice     Telangana  Hyderabad   JUNE  2023  3500000
22        Wheat  West Bengol   Asansole   JULY  2023  4000000
23         Corn           UP     Kanpur    AUG  2023  4500000
24         Ragi  Maharashtra     Nagpur    JAN  2023  1000000
25  Brown rice     Telangana  Hyderabad   JUNE  2023  3500000
26        Wheat  West Bengol   Asansole   JULY  2023  4000000

In [ ]:
d1=df.groupby([])